<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.myreceipts">

    <uses-permission android:mName="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:mName="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:mName=".PointOfSaleActivity"
            android:label="Point of Sale"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:mName=".FeedBackActivity"
            android:label="Feedback"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:mName=".HelpActivity"
            android:label="Help"
            android:parentActivityName=".HomeActivity" />
        <activity android:mName=".SignUpActivity" />
        <activity
            android:mName=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:mName=".InventoryListActivity"
            android:label="Inventory List"
            android:parentActivityName=".HomeActivity" />
        <activity android:mName=".LoginActivity">
            <intent-filter>
                <action android:mName="android.intent.action.MAIN" />

                <category android:mName="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:mName=".HomeActivity"
            android:launchMode="singleTop"
            android:label="@string/welcome" />
    </application>

</manifest>